.main {
    background-color: #E04DB0;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    font-size: 24px;
}

.eventImage {
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .eventImage {
        width: 100%;
    }
}